@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html body {
  width: 100%;
  scroll-behavior: var(--foreground-rgb);
}
/* sectio1 */

.counter {
  text-align: center;
}

@keyframes bounce {
}
.animate {
  animation: bounce 1.5s;
}

.t1 {
  transform: rotate(-2deg);
}
.t2 {
  transform: rotate(-2deg);
}
.t3 {
  transform: rotate(0deg);
}
.t4 {
  transform: rotate(1deg);
}
.t5 {
  transform: rotate(2deg);
}
.t6 {
  transform: rotate(3.5deg);
}
.t7 {
  transform: rotate(4deg);
}

.rayo {
  display: inline-block;
  margin: 0;
  background-image: url("./../../public/assets/rayo.png");
  background-repeat: repeat;
  background-size: 170%;
  background-position: center;
  color: #315b746b;
  background-clip: text;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.border-slice {
  border-image-slice: 20%; /* (top, bottom: 20% alto, right y left: 20% ancho)*/
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 80px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  animation-duration: 20s;
  &::before,
  &::after {
    content: "";
    height: 50px;
    position: absolute;
    width: 70px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(250px * 24);
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 150px;
    background-color: transparent;
  }
}

.splide__slide img {
  width: 100%;
  height: auto;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.whatsapp {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  height: var(--s);
  min-width: var(--s);
  max-width: 95vw;
  background: #25d366;
  color: inherit;
  border-radius: calc(var(--s) / 2);
  box-shadow: 1px 6px 24px 0 rgb(7 94 84 / 24%);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 35px;
  right: 35px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp:hover {
  background: #20ba5a;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 53px;
    height: 53px;
    line-height: 66px;
  }
}

.animatecardletf {
  animation: animateCardlet 1s ease-in-out infinite;
  transform-origin: center;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  transform: scale(1);
  animation-timing-function: ease-in-out;

  @keyframes animateCardlet {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
